blinker
cachelib
certifi
charset-normalizer
click
cs50
Flask
Flask-Session
idna
itsdangerous
Jinja2
MarkupSafe
msgspec
packaging
pytz
requests
SQLAlchemy
sqlparse
termcolor
typing_extensions
urllib3
Werkzeug