/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h3, h4, h5 {
    color: #333333;
}

h3 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: left;
}

p, li {
    font-size: 1em;
    margin-bottom: 0.75em;
    text-align: left;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 1em;
    text-align: left;
}

a {
    color: #0066cc;
    text-decoration: none;
    text-align: left;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #333333;
}

/* Specific styles for lists */
ul li, ol li {
    line-height: 1.6;
    text-align: left;
}

/* Style for the navigation links
.nav-links {
    margin-bottom: 2em;
} */

/* Additional spacing and styling for different sections */
.section {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
}



/* Added on 21st of April, 2024, should be checked */

/* General body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Section styles */
.section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;  /* Limits the width of sections */
    margin-left: auto;
    margin-right: auto;
}

/* Form control styles */
input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button styles */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Utility classes */
.text-center {
    text-align: center;
}

/* Adjusting heading styles */
h2, h5 {
    color: #333;
    text-align: center;
}

