/* Global Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Headings */
h2, h3, h4, h5 {
    margin-bottom: 1.5em;
    text-align: center;
}
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }

/* Text Elements */
p, li, a {
    font-size: 1em;
    text-align: justify;
}
p, li {
    margin-bottom: 0.75em;
}
a { color: #0066cc; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Lists */
ul, ol {
    margin-bottom: 1em;
    margin-left: 20px;
}

select:hover { background-color: #45a049; }

/* Sections and Forms */
.section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.section.profile-page {
    margin: 20px auto;
    max-width: 75%;
    padding: 20px;
    width: 500px;
}
.section.profile-page h5,
.container.profile-page h2
{
    margin-bottom: 1.5em;
}
.section.profile-page .form-group {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section.profile-page .form-group button {
    margin-top: 1em;
}
.section.profile-page label {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.section.profile-page .form-group select,
.section.profile-page .form-group input {
    max-width: 85%;
    width: 75%;
}

input[type="text"], input[type="password"], select {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
}

/* Table */
#average-table {
    border-collapse: collapse;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width:max-content;
    overflow: hidden;
    text-align: center;
}    

/* Footer */
#recordFooter  {
    text-align: center;
}    

/* Centered Text */
.text-center { text-align: center; }

/* Navbar */
nav .navbar-brand {
    font-size: xx-large;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
nav .navbar-brand img {
    height: 36px;
    width: auto;
    vertical-align: middle;
}
nav .navbar-brand .blue { 
    color: #06a8b7;
    margin-left: 8px;
}
.navbar-nav {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
}
.navbar-nav .nav-item {
    width: max-content;
}
.navbar-nav .nav-link, .navbar-nav .nav-item {
    margin-bottom: 0 !important; /* Override any inherited styles */
    align-items: center;
}

/* Style for add record button on history.html */
.add-record-button {
    background: #06a8b760;
    border: none;
    border-left: 5px;
    border-radius: 5px;
    color: #343a40; 
    cursor: pointer;
    float: right;
    font-size: 20px; 
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px;
    transition: color 0.3s;
}
.add-record-button:hover {
    background:darkgray;
    color: #343a40; 
    transition: color 0.3s;
}

/* Trends Section */
#trends p {
    text-align: center;
}

/* Buttons */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

/* Icon Button */
.icon-btn {
    background: none;
    border: none;
    color: #6c757d; 
    cursor: pointer;
    font-size: 16px; 
    padding: 5px;
    margin: 0;
    transition: color 0.3s;
}
.icon-btn:hover {
    background:darkgray;
    color: #343a40; 
    transition: color 0.3s;
}
.icon-btn:focus {
    outline: none; /* Remove focus outline for a cleaner look */
}