/* Global Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 1.5em;
}

/* Headings */
h2, h3, h4, h5 {
    margin-bottom: 1.5em;
    text-align: center;
}
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }

/* Text Elements */
p, li, a {
    font-size: 1em;
    text-align: justify;
}
p, li {
    margin-bottom: 0.75em;
}
a { 
    color: #0066cc; 
    text-decoration: none; 
}
a:hover { 
    text-decoration: underline; 
}

/* Lists */
ul, ol {
    margin-bottom: 1em;
    margin-left: 1.5em;
}

/* Sections and Forms */
.section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1.5em;
    margin: 1.5em auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.section.profile-page {
    margin: 1.5em auto;
    max-width: 75%;
    padding: 1.5em;
    width: 500px;
}
.section.profile-page h5,
.container.profile-page h2
{
    margin-bottom: 1.5em;
}
.section.profile-page .form-group {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section.profile-page .form-group button {
    margin-top: 1em;
}
.section.profile-page label {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.section.profile-page .form-group select,
.section.profile-page .form-group input {
    max-width: 85%;
    width: 75%;
    padding: 0.5em;
}
#timezone-select:hover { 
    background-color: #048b93; 
    color: white;
    transition: 0.3s;
}
.form-control {
    padding: 0.5em;
}

input[type="text"], input[type="password"], input[type="datetime-local"], select {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    width: 100%;
    padding: 0.5em;
    display: block;
}

/* Average Table */
#average-table {
    border-collapse: collapse;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    max-width:max-content;
    overflow: hidden;
    text-align: center;
}    

/* History & Dashboard Tables */
.table>:not(caption)>*>* {
    border-bottom-width: 0px;
    padding: .2rem .2rem;
    vertical-align: middle;
    }

/* Footer */
#recordFooter  {
    text-align: center;
}    

/* Centered Text */
.text-center { text-align: center; }

/* Navbar */
nav .navbar-brand {
    font-size: xx-large;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
nav .navbar-brand img {
    height: 36px;
    width: auto;
    vertical-align: middle;
}
nav .navbar-brand .blue { 
    color: #06a8b7;
    margin-left: 0.5em;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav .nav-item {
    width: max-content;
}
.navbar-nav .nav-link, .navbar-nav .nav-item {
    margin-bottom: 0 !important; /* Override any inherited styles */
    align-items: center;
}

/* Style for add record button on history.html */
.add-record-button {
    background: #06a8b760;
    border: none;
    border-left: 0.5em;
    border-radius: 0.5em;
    color: #343a40; 
    cursor: pointer;
    float: right;
    font-size: 1.25em; 
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em;
    transition-duration: 0.3s;
}
.add-record-button:hover {
    background: #06a8b7;
    color: #343a40; 
    transition-duration: 0.3s;
    text-decoration: none;
}
    
/* Profile Buttons, Record, Log In and Register buttons*/    
.submit-button {
    background-color: #2B5970;
    border: none;
    border-radius: 0.5em;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
.submit-button:hover {
    background: #184258;
    transition-duration: 0.4s;
}

/* Icon Buttons on History Table */
.icon-btn {
    background: none;
    border: none;
    border-radius: 0.25em;
    color: #6c757d; 
    cursor: pointer;
    font-size: 1em; 
    padding: 0.25em;
    margin: 0;
    transition: 0.3s;
}
.icon-btn:hover {
    background:darkgray;
    color: #343a40; 
    transition: 0.3s;
}
.icon-btn:focus {
    outline: none;
}