{% extends "layout.html" %}

{% block title %}
    {{ data.title}}
{% endblock %}

{% block main %}
<div class="section" id="average-table">
    <h2>{{ data.heading }}</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">{{ data.avgSystolic }}</th>
                <th class="text-start">{{ data.avgDiastolic }}</th>
                <th class="text-start">{{ data.avgPulse }}</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table-->
            {% for row in user_avg_recording %}
            <tr>
                <td class="text-start">{{ row.avg_systolic }} mmHg</td>
                <td class="text-start">{{ row.avg_diastolic }} mmHg</td>
                <td class="text-start">{{ row.avg_pulse }} bpm</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-center">{{ data.description }}</p>
</div>
<div class="section", id="trends">
    <h2>{{ data.last5heading }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">{{ data.systolic }}</th>
                <th class="text-start">{{ data.diastolic }}</th>
                <th class="text-start">{{ data.pulse }}</th>
                <th class="text-start">{{ data.readingClassification }}</th>
                <th class="text-center">{{ data.dateRecorded }}</th>
                <th class="text-start">{{ data.notes }}</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table-->
            {% for row in last5reading %}
            <tr>
                <td class="text-start">{{ row.systolic }} mm Hg</td>
                <td class="text-start">{{ row.diastolic }} mm Hg</td>
                <td class="text-start">{{ row.pulse }} bpm</td>
                <td class="text-start">{{ classes[row.classification] }}</td>
                <td class="text-center">{{ row.reading_date }}</td>
                <td class="text-start">{{ row.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    <p>{{ data.classificationLink.text }}, <a href="/resources">{{ data.classificationLink.textUrl }}</a>.</p>
</div>
<div class="section", id="alerts-tips-section">
    <h2>{{ data.alertsHeading }}</h2>
    <br>
    <p>{{ data.comment }}</p>
</div>
{% endblock %}




