{% extends "layout.html" %}

{% block title %}
    {{ data.title }} 
{% endblock %}

{% block main %}
    <div class="section">
        <h2>{{ data.heading }}</h2>
        <br>
        <i class="glyphicon glyphicon-remove"></i>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">{{ data.combined }}</th>
                    <th class="text-start">{{ data.readingClassification }}</th>
                    <th class="text-center">{{ data.dateRecorded }}</th>
                    <th class="text-start">{{ data.notes }}</th>
                    <th class="text-start"></th>
                    <th class="text-start"></th>

                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display them in this table-->
                {% for row in history %}
                <tr>
                    <td class="text-start">{{ row.systolic }}/{{ row.diastolic }} mm Hg - {{ row.pulse }} bpm</td>
                    <td class="text-start">{{ classes[row.classification] }}</td>
                    <td class="text-center">{{ row.reading_date }}</td>
                    <td class="text-start">{{ row.notes }}</td>
                    <td>
                    <form action="/history" method="POST" style="display:inline;">
                        <input type="hidden" name="record_id" value="{{ row.id }}">
                        <button type="submit" name="edit_record" class="icon-btn"><i class="fas fa-pen"></i></button>
                    </form>
                    </td>
                    <td>
                    <form action="/history" method="POST" style="display:inline;">
                        <input type="hidden" name="record_id" value="{{ row.id }}">
                        <button type="submit" name="remove_record" class="icon-btn"><i class="fas fa-trash"></i></button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
