{% extends "layout.html" %}

{% block title %}
    {{ data.title }} 
{% endblock %}

{% block main %}
    <div class="section">
        <h2>{{ data.heading }}</h2>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">{{ data.systolic }}</th>
                    <th class="text-start">{{ data.diastolic }}</th>
                    <th class="text-start">{{ data.pulse }}</th>
                    <th class="text-start">{{ data.readingClassification }}</th>
                    <th class="text-center">{{ data.dateRecorded }}</th>
                    <th class="text-start">{{ data.notes }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display them in this table-->
                {% for row in history %}
                <tr>
                    <td class="text-start">{{ row.systolic }} mm Hg</td>
                    <td class="text-start">{{ row.diastolic }} mm Hg</td>
                    <td class="text-start">{{ row.pulse }} bpm</td>
                    <td class="text-start">{{ classes[row.classification] }}</td>
                    <td class="text-center">{{ row.reading_date }}</td>
                    <td class="text-start">{{ row.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
